@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP:wght@500;700&display=swap");
.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .inner {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

/*===================
common
=====================*/
body {
  background-color: #F3F3F3;
  color: #3E3E3E;
  overflow-x: hidden;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

@media screen and (max-width: 767px) {
  body .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body .is-sp {
    display: none;
  }
}

body a {
  color: #3E3E3E;
}

body .submit-button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: #FFAA3B;
  border-radius: 10px;
  padding: 0 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.025em;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media screen and (max-width: 767px) {
  body .submit-button {
    font-size: 16px;
    padding: 0 30px;
  }
}

body .submit-button:hover {
  background-color: #F18900;
}

body .util-link {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 0 80px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: .2em;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

body .util-link:hover {
  background-color: #3E3E3E;
  color: #fff;
}

body .util-link.dark {
  background-color: #3E3E3E;
  border-color: #fff;
  color: #fff;
}

body .util-link.dark:hover {
  color: #3E3E3E;
  background-color: #fff;
  color: #3E3E3E;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  body .util-link {
    font-size: 18px;
    padding: 0 100px;
    height: 53px;
    line-height: 53px;
  }
}

body .section-title {
  padding: 60px 0;
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

body .section-title.dark {
  color: #fff;
}

@media screen and (max-width: 767px) {
  body .section-title {
    padding: 40px 0;
    font-size: 30px;
  }
}

/*===================
header
=====================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF1A;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background-color: #fff;
  }
}

.header .header-inner {
  position: relative;
}

.header .header-inner .header-logo {
  font-size: 23px;
  font-weight: bold;
  line-height: 68px;
  font-family: "Montserrat", sans-serif;
}

.header .header-inner .nav-toggle {
  width: 25px;
  height: 20px;
  position: absolute;
  right: 17px;
  top: 25px;
  -webkit-transition: right .3s ease 0s;
  transition: right .3s ease 0s;
}

.header .header-inner .nav-toggle img {
  width: 100%;
  height: 100%;
}

.header .header-inner .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav-list {
    height: 83px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-inner .header-nav-list {
    display: block;
    background-color: #fff;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 0;
    right: -250px;
    -webkit-transition: right .3s ease 0s;
    transition: right .3s ease 0s;
  }
  .header .header-inner .header-nav-list.open-now {
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav-list .nav-list-item:not(:first-child) {
    margin-left: 40px;
  }
}

.header .header-inner .header-nav-list .nav-list-item .nav-list-item-link {
  line-height: 83px;
  letter-spacing: -0.025em;
  padding: 1em 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  -webkit-text-decoration: underline 1px transparent;
          text-decoration: underline 1px transparent;
  text-underline-offset: 5px;
}

.header .header-inner .header-nav-list .nav-list-item .nav-list-item-link:hover {
  -webkit-text-decoration: underline 1px #000;
          text-decoration: underline 1px #000;
}

.nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.466);
  z-index: 90;
  display: none;
}

/*===================
top
=====================*/
.top {
  height: 648px;
  width: 100%;
  background: url("../img/mv@2x.png") right center/cover;
}

@media screen and (max-width: 767px) {
  .top {
    margin-top: 68px;
    height: 600px;
  }
}

.top .top-inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .top .top-inner .top-contents {
    position: absolute;
    right: 16px;
    top: 230px;
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .top .top-inner .top-contents {
    padding-top: 46%;
  }
}

.top .top-inner .top-contents h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 26px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .top .top-inner .top-contents h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.top .top-inner .top-contents p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 37px;
  line-height: 1.55556;
  letter-spacing: 0.020em;
}

@media screen and (max-width: 767px) {
  .top .top-inner .top-contents p {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .top .top-inner .top-contents .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*===================
news
=====================*/
.news .news-inner {
  position: relative;
}

.news .news-inner .news-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (min-width: 768px) {
  .news .news-inner .news-wrapper {
    margin: 120px 0;
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper {
    margin: -39px 0 60px;
  }
}

.news .news-inner .news-wrapper .news-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .news .news-inner .news-wrapper .news-title {
    padding: 64px 0;
  }
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper .news-title {
    padding: 43px 0;
  }
}

.news .news-inner .news-wrapper .news-list .news-item {
  border-top: 1px solid #cecdcd;
}

.news .news-inner .news-wrapper .news-list .news-item:last-child {
  border-bottom: 1px solid #cecdcd;
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: background-color .3s ease 0s;
  transition: background-color .3s ease 0s;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper .news-list .news-item .news-item-link {
    display: block;
    padding: 9px 0 8px 16px;
  }
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 11px;
  height: 21px;
  background: url("../img/news-arrow.png") center center/contain no-repeat;
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link:hover {
  background-color: #4973FF1A;
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-header .news-item-date {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-header .news-item-date {
    font-size: 14px;
  }
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-header .news-item-date time {
  line-height: 30px;
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-header .news-item-title {
  font-size: 14px;
  margin-left: 40px;
  display: inline-block;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 0 32px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-header .news-item-title {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 16px;
    margin-left: 24px;
  }
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 698px;
          flex: 0 1 698px;
}

@media screen and (min-width: 768px) {
  .news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-body {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-body {
    margin-right: 55px;
  }
}

.news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-body .news-item-text {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.025em;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-wrapper .news-list .news-item .news-item-link .news-item-body .news-item-text {
    font-size: 14px;
    margin-top: 3px;
    letter-spacing: normal;
  }
}

.news .news-inner .news-wrapper .news-footer {
  text-align: center;
}

.news .news-inner .news-wrapper .news-footer .util-link {
  margin: 40px auto;
}

/*===================
service
=====================*/
.service {
  position: relative;
}

.service .service-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #3E3E3E;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .service .service-bg {
    height: 480px;
  }
}

.service .service-inner .service-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .service .service-inner .service-title {
    padding: 66px 0;
  }
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-title {
    padding: 44px;
  }
}

.service .service-inner .service-list {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .service .service-inner .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 45px 60px;
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-list {
    display: block;
    padding: 49px 16px 35px;
  }
}

.service .service-inner .service-list:first-child > .service-item > .service-item-icon > img {
  height: 44px;
}

@media screen and (min-width: 768px) {
  .service .service-inner .service-list .service-item {
    width: 230px;
  }
  .service .service-inner .service-list .service-item:not(:first-child) {
    margin-left: 90px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-list .service-item:not(:first-child) {
    margin-top: 50px;
  }
}

.service .service-inner .service-list .service-item:first-child .service-item-title {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-list .service-item:first-child .service-item-title {
    margin-top: 19px;
  }
}

.service .service-inner .service-list .service-item:first-child .service-item-text {
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-list .service-item:first-child .service-item-text {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-list .service-item:not(:first-child) .service-item-title {
    margin-top: 25px;
  }
}

.service .service-inner .service-list .service-item:not(:first-child) .service-item-text {
  margin-top: 14px;
}

.service .service-inner .service-list .service-item .service-item-icon {
  text-align: center;
}

.service .service-inner .service-list .service-item .service-item-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .2em;
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-list .service-item .service-item-title {
    line-height: 1.2;
  }
}

.service .service-inner .service-list .service-item .service-item-text {
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 20px;
}

/*===================
results
=====================*/
.results {
  background-color: #3E3E3E;
  margin-top: 120px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .results {
    width: 96.875%;
  }
}

@media screen and (max-width: 767px) {
  .results {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .results .results-inner {
    width: auto;
    padding-left: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .results .results-inner {
    padding-right: 0;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .results .results-inner .results-title {
    padding: 64px 0;
  }
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-title {
    padding: 43px 0px 44px 115px;
  }
}

.results .results-inner .results-slick .results-slick-item {
  margin: 0;
  padding: 0;
  width: 400px;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-slick .results-slick-item {
    width: 274px;
    margin-left: 20px;
  }
}

.results .results-inner .results-slick .results-slick-item .slick-item-picture {
  height: 250px;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-slick .results-slick-item .slick-item-picture {
    width: 274px;
    height: 171px;
  }
}

.results .results-inner .results-slick .results-slick-item .slick-item-picture img {
  height: 100%;
  width: 100%;
}

.results .results-inner .results-slick .results-slick-item .slick-item-info {
  background-color: #fff;
  padding: 18px 16px 19px;
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-slick .results-slick-item .slick-item-info {
    padding: 12px;
  }
}

.results .results-inner .results-slick .results-slick-item .slick-item-info .item-info-title {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-slick .results-slick-item .slick-item-info .item-info-title {
    font-size: 14px;
  }
}

.results .results-inner .results-slick .results-slick-item .slick-item-info .item-info-text {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-slick .results-slick-item .slick-item-info .item-info-text {
    font-size: 12px;
    margin-top: 9px;
  }
}

.results .results-inner .results-footer {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .results .results-inner .results-footer {
    margin-left: 13px;
    margin-top: 68px;
  }
}

.results .results-inner .results-footer .util-link {
  padding: 0 100px;
}

@media screen and (min-width: 768px) {
  .results .results-inner .results-footer .util-link {
    padding: 0 77px;
  }
}

.slick-dots {
  text-align: left;
  bottom: -62px;
}

@media screen and (max-width: 767px) {
  .slick-dots {
    text-align: center;
    left: -6px;
    bottom: -44px;
  }
}

.slick-dots > li {
  margin: 0;
}

.slick-dots > li:not(:first-child) {
  margin-left: 12px;
}

.slick-dots > li > button::before {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-dots > li.slick-active > button::before {
  color: #fff;
  opacity: 1;
}

.slick-dots > li.slick-active > button::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 100px;
}

/*===================
price
=====================*/
@media screen and (min-width: 768px) {
  .price {
    margin-top: 65px;
  }
}

.price .price-inner .price-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .price .price-inner .price-title {
    padding: 60px 0 62px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-inner .price-title {
    padding: 43px 0;
  }
}

.price .price-inner .price-table {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.price .price-inner .price-table table {
  width: 100%;
  margin-bottom: 7px;
}

.price .price-inner .price-table table tr {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .price .price-inner .price-table table tr {
    height: 59px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-inner .price-table table tr {
    height: 53px;
  }
}

.price .price-inner .price-table table tr th {
  background-color: #3E3E3E;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .price .price-inner .price-table table tr th {
    line-height: 59px;
    width: 260px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-inner .price-table table tr th {
    line-height: 53px;
    width: 98px;
    font-size: 21px;
  }
}

.price .price-inner .price-table table tr td {
  background-color: #fff;
  font-size: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 73%;
          flex: 0 1 73%;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .price .price-inner .price-table table tr td {
    line-height: 59px;
    padding-left: 38px;
  }
}

@media screen and (max-width: 767px) {
  .price .price-inner .price-table table tr td {
    line-height: 53px;
    padding-left: 18px;
    font-size: 20px;
  }
}

.price .price-inner .price-table .price-attention {
  font-size: 12px;
}

/*===================
comments
=====================*/
.comments {
  position: relative;
  margin-top: 115px;
}

@media screen and (max-width: 767px) {
  .comments {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .comments {
    margin-top: 55px;
  }
}

.comments .comments-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #3E3E3E;
  height: 576px;
  width: 100%;
  max-width: 980px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .comments .comments-bg {
    height: 427px;
  }
}

.comments .comments-inner .comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .comments .comments-inner .comments-wrapper {
    padding-bottom: 60px;
  }
}

.comments .comments-inner .comments-wrapper .comments-persons {
  background-color: #fff;
  padding: 66px 60px 108px;
  max-width: 666px;
  border: 1px solid #00000029;
  -webkit-box-shadow: 0 0 10px #00000029;
          box-shadow: 0 0 10px #00000029;
}

@media screen and (max-width: 767px) {
  .comments .comments-inner .comments-wrapper .comments-persons {
    padding: 0 20px 40px;
  }
}

.comments .comments-inner .comments-wrapper .comments-persons .comments-title {
  padding: 60px 0 64px;
}

@media screen and (max-width: 767px) {
  .comments .comments-inner .comments-wrapper .comments-persons .comments-title {
    padding: 43px 0 44px;
  }
}

.comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item:not(:first-child) {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item:not(:first-child) {
    margin-top: 37px;
  }
}

.comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item .comments-item-icon {
  height: 111px;
}

.comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item .comments-item-icon img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item .comments-item-icon img {
    width: 60px;
    height: 60px;
  }
}

.comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item .comments-item-text {
  margin-left: 31px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 414px;
          flex: 0 1 414px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .comments .comments-inner .comments-wrapper .comments-persons .comments-items .comments-item .comments-item-text {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.42857;
  }
}

.comments .comments-inner .comments-wrapper .comments-picture-wrap {
  width: 534px;
  max-width: 100%;
  margin: auto 0;
}

.comments .comments-inner .comments-wrapper .comments-picture-wrap .comments-picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  padding-top: 83.14607%;
  position: relative;
}

.comments .comments-inner .comments-wrapper .comments-picture-wrap .comments-picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*===================
faqs
=====================*/
.faqs {
  background: url("../img/qa-bg@2x.png") center center/cover;
  background-attachment: fixed;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .faqs {
    padding-bottom: 60px;
  }
}

.faqs .faqs-inner .faqs-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .faqs .faqs-inner .faqs-title {
    padding: 63px 0;
  }
}

@media screen and (max-width: 767px) {
  .faqs .faqs-inner .faqs-title {
    padding: 40px 0 45px;
  }
}

.faqs .faqs-inner .faqs-items .faqs-item {
  background-color: #fff;
  max-width: 612px;
  margin-left: auto;
  border-radius: 4px;
}

.faqs .faqs-inner .faqs-items .faqs-item:not(:first-child) {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .faqs .faqs-inner .faqs-items .faqs-item:not(:first-child) {
    margin-top: 24px;
  }
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box {
  padding: 0 16px;
  cursor: pointer;
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-q {
  font-weight: bold;
  position: relative;
  padding: 16px 0;
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-q .box-q-text {
  margin-left: 40px;
  position: relative;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-q .box-q-text::before {
  content: "Q";
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-color: #3B69FF;
  border-radius: 100px;
  padding: 0px 6px;
  color: #fff;
  font-weight: bold;
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-q .box-q-icon {
  background: url("../img/plus.png") center center/contain no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 17px;
  -webkit-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-q.open-now .box-q-icon {
  background: url(../img/minus.png) center center/contain no-repeat;
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-a {
  display: none;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-a {
    padding-bottom: 10px;
  }
}

.faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-a .box-a-content {
  background-color: rgba(59, 105, 255, 0.2);
  padding: 10px 16px;
  line-height: 1.625;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .faqs .faqs-inner .faqs-items .faqs-item .faqs-box .faqs-box-a .box-a-content {
    padding: 12px;
    font-size: 14px;
    line-height: 1.42857;
  }
}

/*===================
access
=====================*/
.access {
  position: relative;
}

@media screen and (min-width: 768px) {
  .access {
    padding-top: 120px;
  }
}

@media screen and (max-width: 767px) {
  .access {
    background-color: #3E3E3E;
    padding-bottom: 60px;
  }
}

.access .access-bg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 980px;
  width: 100%;
  height: 506px;
  background-color: #3E3E3E;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .access .access-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .access .access-inner .access-info {
    margin-left: 60px;
  }
}

@media screen and (min-width: 768px) {
  .access .access-inner .access-info .access-title {
    padding-top: 5px;
  }
}

.access .access-inner .access-info .access-info-address {
  color: #fff;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info .access-info-address {
    font-size: 14px;
  }
}

.access .access-inner .access-info .util-link {
  margin-top: 27px;
  width: 314px;
  padding: 0;
  text-align: center;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info .util-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .access .access-inner .access-info .util-link {
    display: block;
  }
}

.access .access-inner .access-map {
  margin-left: auto;
  width: 726px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-map {
    margin: 24px 0 19px;
  }
}

.access .access-inner .access-map .iframe-wrap {
  width: 100%;
  padding-top: 71.62534%;
  position: relative;
}

.access .access-inner .access-map .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .access .access-inner .util-link {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .access .access-inner .util-link {
    letter-spacing: .1em;
    display: block;
  }
}

/*===================
contact
=====================*/
.contact {
  background: url("../img/contact-bg@2x.png") center center/cover;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 120px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .contact .contact-inner .contact-contents {
    margin: 0 120px;
  }
}

.contact .contact-inner .contact-contents .contact-header {
  background: url("../img/contact1@2x.png") center center/cover;
  padding: 66px 0 60px;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .contact .contact-inner .contact-contents .contact-header {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents .contact-header {
    padding: 43px 16px 39px;
  }
}

.contact .contact-inner .contact-contents .contact-header .contact-title {
  padding: 0;
  text-align: center;
}

.contact .contact-inner .contact-contents .contact-header .contact-header-text {
  margin-top: 19px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents .contact-header .contact-header-text {
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 13px;
  }
}

.contact .contact-inner .contact-contents form {
  background-color: #fff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form {
    padding: 40px 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item:not(:first-child) {
  margin-top: 37px;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item:not(:first-child) {
    margin-top: 30px;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item.textarea {
  display: block;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-title {
  width: 188px;
  font-weight: bold;
  position: relative;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-title-required {
  font-size: 12px;
  display: inline-block;
  background-color: #FF4646;
  color: #fff;
  line-height: 16px;
  padding: 0 8px;
  border-radius: 2px;
  margin-left: 12px;
  position: absolute;
  top: -2px;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input {
    margin-top: 16px;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input input {
  border: none;
}

@media screen and (min-width: 768px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input input {
    padding-left: 10px;
    font-size: 16px;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input [type="text"],
.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input [type="email"] {
  width: 100%;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input [type="text"]:hover, .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input [type="text"]:focus,
.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input [type="email"]:hover,
.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input [type="email"]:focus {
  outline: none;
  border-bottom: 1px solid #4973FF80;
  -webkit-box-shadow: 0px 11px 13px -10px #4973ff33;
          box-shadow: 0px 11px 13px -10px #4973ff33;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input select {
  padding: 9px 13px;
  border: 1px solid #707070;
  font-size: 16px;
  outline: none;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input select {
    width: 100%;
    padding: 9px 6px;
    font-size: 14px;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input select:hover, .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input select:focus {
  -webkit-box-shadow: 0 0 3px #4973FF80;
          box-shadow: 0 0 3px #4973FF80;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input textarea {
  width: 100%;
  height: 200px;
  margin-top: 5px;
  font-size: 16px;
  padding: 10px;
  resize: vertical;
  border: 1px solid #707070;
  outline: none;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input textarea {
    height: 160px;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input textarea:hover, .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input textarea:focus {
  -webkit-box-shadow: 0 0 4px #4973FF80, inset 0 0 4px #4973FF80;
          box-shadow: 0 0 4px #4973FF80, inset 0 0 4px #4973FF80;
  border: 1px solid #4973FF80;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio {
  position: relative;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio:not(:first-child) {
  margin-left: 59px;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio:hover > .contact-radio-part {
  -webkit-box-shadow: 0 0 3px #4973FF80;
          box-shadow: 0 0 3px #4973FF80;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio [type="radio"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio [type="radio"]:active + .contact-radio-part {
  background-color: #4973FF33;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio [type="radio"]:checked + .contact-radio-part::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 100%;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-item-input .contact-radio-wrap .contact-radio .contact-radio-part {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 100%;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy {
  position: relative;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy [type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy [type="checkbox"]:checked + .contact-privacy-part::after {
  content: "";
  color: #3B69FF;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  display: block;
  width: 12px;
  height: 5px;
  border-bottom: 3px solid #3B69FF;
  border-left: 3px solid #3B69FF;
  outline: none;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy [type="checkbox"]:hover + .contact-privacy-part,
.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy [type="checkbox"]:focus + .contact-privacy-part {
  -webkit-box-shadow: 0 0 5px #4973FF80;
          box-shadow: 0 0 5px #4973FF80;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy [type="checkbox"]:active + .contact-privacy-part {
  background-color: #4973FF33;
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy .contact-privacy-part {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy .contact-privacy-part {
    top: 43%;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy-link {
  font-weight: bold;
  margin-left: 40px;
  margin-top: 1px;
}

@media screen and (min-width: 768px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .contact-privacy-link {
    font-size: 18px;
  }
}

.contact .contact-inner .contact-contents form .contact-list .contact-item .submit-button:disabled {
  background-color: #B2B2B2;
  -webkit-box-shadow: 0 0 3px #3E3E3E33;
          box-shadow: 0 0 3px #3E3E3E33;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-contents form .contact-list .contact-item .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
  }
}

/*===================
footer
=====================*/
.footer {
  background-color: #3E3E3E;
  padding: 60px 0 71px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 56px;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer-inner .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper {
    text-align: center;
  }
}

.footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons .footer-sns-icon {
  font-size: 39px;
  color: #fff;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons .footer-sns-icon {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons .footer-sns-icon {
    font-size: 40px;
  }
}

.footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons .footer-sns-icon:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-left .footer-sns-icons .footer-sns-icon:not(:first-child) {
    margin-left: 50px;
  }
}

.footer .footer-inner .footer-wrapper .footer-left .footer-nav-list {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-left .footer-nav-list {
    margin-top: 36px;
  }
}

.footer .footer-inner .footer-wrapper .footer-left .footer-nav-list .footer-nav-item:not(:first-child) {
  margin-top: 24px;
}

.footer .footer-inner .footer-wrapper .footer-left .footer-nav-list .footer-nav-item .footer-nav-item-link {
  color: #fff;
  padding: 1em 0;
  letter-spacing: 0.025em;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-left .footer-nav-list .footer-nav-item .footer-nav-item-link {
    font-size: 14px;
  }
}

.footer .footer-inner .footer-wrapper .footer-right {
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .footer .footer-inner .footer-wrapper .footer-right {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-right {
    margin-top: 44px;
  }
}

.footer .footer-inner .footer-wrapper .footer-right .footer-logo {
  font-size: 40px;
  color: #E3E3E3;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer .footer-inner .footer-wrapper .footer-right .footer-logo {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-wrapper .footer-right .footer-logo {
    margin-bottom: 12px;
    font-size: 32px;
  }
}

.footer .footer-inner .footer-wrapper .footer-right .footer-copyright {
  color: #fff;
  opacity: 0.6;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .footer .footer-inner .footer-wrapper .footer-right .footer-copyright {
    margin-left: 92px;
  }
}

/*===================
to-top
=====================*/
.to-top {
  position: fixed;
  bottom: 52px;
  right: 40px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .to-top {
    bottom: 25px;
    right: 16px;
  }
}
